<div class="footer">
  <div>
    <h1>What's for dinner?</h1>
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="#">A propos</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">CGU</a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</div>