<div class="banner">
  <div class="container align-middle">
    <div class="row justify-content-center">
      <h1 class="banner-h1">What's for dinner?</h1><br />
    </div>
    <div class="row justify-content-center ">
      <%= link_to "Je crée mon menu", new_menu_path, class:"red-btn m-5" %>
    </div>
  </div>
</div>
