.menu-recipe-container {
  width: 80%;
  padding: 40px 40px 10px 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 5px #0000003b;
}

@include media-breakpoint-down(md) {
  .menu-recipe-container {
    width: 100% ;
    padding: 20px 20px 10px 20px;
  }
}

.recipe-image {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

@include media-breakpoint-down(md) {
  .recipe-image {
    height: 300px;
  }
}

.favorite {
  margin-left: auto;
}

.ingredients-list {
  line-height: 2em;
  border-left: 3px solid #eaa85840;
  border-right: 3px solid #eaa85840;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.number-of-people-selection {
  background-color: $yellow;
  padding: 10px;
  width: 120px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
}

select#menu_recipe_number_of_people {
  width: 50px;
  color: black;
  border: none;
  background: none;
}
