.red-btn {
  display: flex;
  align-items: center;
  background-color: $red;
  padding: 20px 30px;
  box-shadow: $shadow;
  color: white;
  font-size: 26px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #a1283e;
    }
}


