.red-btn {
  align-items: center;
  background-color: $red;
  border: none;
  padding: 13px 30px;
  box-shadow: $shadow;
  color: white;
  font-size: 20px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #a1283e;
    }
}

.yellow-btn {
  align-items: center;
  background-color: $yellow;
  border: none;
  padding: 13px 28px;
  box-shadow: $shadow;
  color: white;
  font-size: 18px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #db9c4e;
    }
}

.tooltips.favorite-btn {
  font-size: 22px;
  color: $red;
}

.btn-add-meal {
  width: 200px;
  height: 112px;
  box-shadow: 4px 4px 5px #0000001f;
  border: solid 0.5px lightgrey;
  border-radius: 15px;
  color: #424242;
  margin-bottom: 10px;
  background: #a7a7a7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px 15px;
  &:hover {
    color: #424242;
    text-decoration: none;
    transition: background-color 0.4s;
    background-color: white;
  }
}

  .btn-add-recipe {
    align-items: center;
    background-color: $yellow;
    border: none;
    border-radius: 50%;
    box-shadow: $shadow;
    color: white;
    text-decoration: none;
    width: 35px;
    height: 35px;
    font-size: 24px;
    font-family: $body-font;
    font-weight: 800;
    transition: all .3s ease;
    margin: 5px;
      &:hover:after {
        content:" ajouter au menu";
        color: white;
        text-decoration: none;
        font-weight: 400;
      }
      &:hover {
        width: 100%;
        font-size: 18px;
        border-radius: $border-radius;
        text-decoration: none;
        color: white;
        height: 35px;
        vertical-align: middle;
        padding-top: 3px;
      }
    }

.btn-remove-recipe {
  align-items: center;
  background-color: $red;
  border: none;
  border-radius: 50%;
  box-shadow: $shadow;
  color: white;
  text-decoration: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-family: $body-font;
  font-weight: 800;
  transition: all .3s ease;
  margin: 5px;

  &:hover:span {display:none}
    &:hover:after {
      content:" retirer du menu";
      color: white;
      text-decoration: none;
      font-weight: 400;
    }
    &:hover {
      width: 100%;
      font-size: 18px;
      border-radius: $border-radius;
      text-decoration: none;
      color: white;
      height: 35px;
      padding-top: 3px;
    }
  }

@include media-breakpoint-down(md) {
  .red-btn {
    font-size: 18px;
  }

  .btn-add-meal {
    width: 160px;
  }

  .btn-add-recipe {
    &:hover {
      font-size: 15px;
    }
  }

  .btn-remove-recipe {
    &:hover {
      font-size: 15px;
    }
  }
}