.red-btn {
  align-items: center;
  background-color: $red;
  border: none;
  padding: 13px 30px;
  box-shadow: $shadow;
  color: white;
  font-size: 20px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #a1283e;
    }
}

.yellow-btn {
  align-items: center;
  background-color: $yellow;
  border: none;
  padding: 13px 28px;
  box-shadow: $shadow;
  color: white;
  font-size: 20px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #db9c4e;
    }
}

.tooltips.favorite-btn {
  font-size: 22px;
  color: $red;
}

.btn-add-meal {
  width: 200px;
  height: 234px;
  box-shadow: 4px 4px 5px #0000001f;
  border: solid 0.5px lightgrey;
  border-radius: 15px;
  color: #424242;
  line-height: 18px;
  margin-bottom: 10px;
  background: #a7a7a7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px 15px;
  &:hover {
    color: #424242;
    text-decoration: none;
    transition: background-color 0.4s;
    background-color: white;
  }
}

@include media-breakpoint-down(md) {
  .red-btn {
    font-size: 18px;
  }

  .btn-add-meal {
    width: 160px;
  }
}