.red-btn {
  align-items: center;
  background-color: $red;
  border: none;
  padding: 13px 30px;
  box-shadow: $shadow;
  color: white;
  font-size: 20px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #a1283e;
    }
}

.yellow-btn {
  align-items: center;
  background-color: $yellow;
  border: none;
  padding: 13px 28px;
  box-shadow: $shadow;
  color: white;
  font-size: 20px;
  font-family: $body-font;
  border-radius: $border-radius;
  transition: all .3s ease;
  
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #db9c4e;
    }
}

@include media-breakpoint-down(md) {
  .red-btn {
    font-size: 18px;
  }
}


