.content-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

@include media-breakpoint-down(md) {
  .content-container {
    width: 95%;
  }
}

.menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: $snow;
  // border: solid 0.5px $light-gray;
  // box-shadow: 5px 5px 5px #0000003b;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  margin-bottom: 30px;
}

@include media-breakpoint-down(md) {
  .menu-container {
    justify-content: space-around;
  }
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 50px;
}

@include media-breakpoint-down(md) {
  .recipes-container {
    justify-content: space-around;
  }
}

.reviews-display {
  padding-bottom: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@include media-breakpoint-down(md) {
  .reviews-display {
    width: 100%;
  }
}

.review-average {
  background-color: white;
  border-radius: 15px;
  padding: 20px 40px;
  border: 2px solid $yellow;
}

.review {
  background-color: white;
  border-radius: 15px;
  padding: 20px 40px;
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
}

.review-features {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
    p {
      margin-bottom: 0;
    }
}
