.content-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

@include media-breakpoint-down(md) {
  .content-container {
    width: 95%;
  }
}

.menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: $snow;
  // border: solid 0.5px $light-gray;
  // box-shadow: 5px 5px 5px #0000003b;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  margin-bottom: 30px;
}

@include media-breakpoint-down(md) {
  .menu-container {
    justify-content: space-around;
  }
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 50px;
}

@include media-breakpoint-down(md) {
  .recipes-container {
    justify-content: space-around;
  }
}
