.footer {
  background: $red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}

.footer-links a {
  color: black;
  opacity: 0.85;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.footer-links a:hover {
  opacity: 1;
}


@include media-breakpoint-down(md) {
  .footer {
    padding: 0px 10px;
  }
  .footer h1 {
  font-size: 24px;
  }
  p{
    font-size: 16px;
  }
  .footer-links a {
    font-size: 16px;
  }
}