.menu-recipe-container {
  width: 100%;
  padding: 40px 40px 20px 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: auto;
  background-color: white;
  border-radius: 15px;
}

.recipe-image {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

#ingredients-list {
  line-height: normal;

}
