.navbar-lewagon {
  justify-content: space-between;
  background: white;
  
  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-logo {
    padding: 10px 15px;
    font-size: 30px;
    color: $black;
    text-align: center;
    text-decoration: none;
    font-family: $headers-font;
  }

  .navbar-button {
    align-items: center;
    width: fit-content;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 40px;
    font-family: $body-font;
    font-size: 1.05rem;
    color: $red;
    text-decoration: none;
    border: solid 1px $red;
    transition: all .3s ease;
      &:hover {
        text-decoration: none;
        color: white;
        background-color: $red;
      }
  }
}

.dropdown-item {
  font-size: 1rem;
}

.dropdown-menu {
  border-radius: 10px;
}