html {
  scroll-behavior: smooth;
}

h1 {
  color: $black;
  font-size: 35px;
  text-align: center;
}

h2 {
  color: $brown;
  font-size: 32px;
  text-align: center;
}

h3 {
  color: $red;
  font-size: 26px;
}

ul {
  list-style: none;
}

.step-title-menu-new, .step-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-creation-menu {
  background-color: #EAA858;
  padding: 1px 17px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}

@include media-breakpoint-down(md) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }
}
